{% extends "task_layout.html" %}


{% block content %}

    <a href="/task/add">Add task</a>

    <h1 class="task_page_title">Task List</h1>

    <div class="task_page">

        {% for t in object_list %}

            <div class="task_item">
                <h2><a class="task_name" href="/task/{{ t.pk }}">{{ t.name }}</a></h2>
                <ul>
                    <li class="task_attribute">{{ t.id }}</li>
                    <li class="task_attribute"><a href="/task/{{ t.id }}">{{ t.name }}</a></li>
                    <li class="task_attribute">{{ t.date }}</li>
                    <li class="task_attribute"><a href="/task/{{ t.id }}/edit">Edit</a></li>
                </ul>
            </div>
        {% endfor %}

    </div>
{% endblock %}
