body * {
    font-size: 14pt;
    font-family: Candara, Arial, sans-serif;
    text-transform: none;
    text-align: left;
}

h1 {
    color: red;
    font-size: 2em;
    margin:  0em 1em 0em 1em;
   
}

h2 {
    color: blue;
    font-size: 1.6em; 
    margin:  0em 1em 0em 1em;
}

h3 {
    color: green;
    font-size: 1.4em; 
    /*padding: 0;*/
    margin:  0em 1em 0em 1em;
}

p {
    margin:  0em 2em 0em 2em;
    text-transform: none;
}

li {
    margin:  0em 2em 0em 2em;
}

pre {
    margin:  0em 2em 0em 2em;
}

.doc {
    color: red;
    text-align: left;
    text-transform: none;
}