/*   Cascading Stylesheet for Hammer
*/

/*------------------------------------
        Page
--------------------------------------*/

body {
    padding: 1em;
}


body * {
    text-transform: none;
    text-align: left;
}

.dropshadow {
    -webkit-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    border: 1px solid black;
}

.header {
    background-image: url('http:/static/WaterBanner1000.jpg');
    color: white;
    text-align: center;
    max-width: 800px;
    width:   90%;
    padding:  1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

.page {
    background: #eee;
    width:   90%;
    padding: 3%;
    margin:  auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 800px;
}

.footer {
    color: #222;
    text-align: center;
}

.footer-logo {
    background-image: url('http:/static/images/SWS_Globe_small.jpg'); 
    width: 217px;
    height: 97px;
    text-align: center;
}


.hlink {
    color: yellow;
}

.hlink:hover {
    color: white;
}


.htext {
    color: white;
}


/*------------------------------------
        HTML
--------------------------------------*/

p {
    color: #444;
    /* border: 1px solid gray; */
    font-size: 12pt;
}

li {
    color: #444;
}

input {
    width : 30 em;
    height : 30px;
}

.row {
    color: inherit;
}

/*------------------------------------
        HTML
--------------------------------------*/

.thots * {
    padding: 2%;
    color: red;
    border-radius: 20px;
}

.thots {
    border: 4px solid red;
    border-radius: 20px;
    width: 100%;
}

.thot {
    margin: 0;
}

.thot-id {
    color: white;
    font-size: 12pt;
}

.thot hr {
    border:2px solid green;
    padding: 0px;
}

.thot-book {
    background-color: #224;
    color: yellow;
    border: solid 4px yellow;
    font-size: 24pt;
    margin: 1em;
    text-align: center;
}

.thot * {
    margin: 0;
    font-size: 24pt;
    color: green;
}

.thot-border {
    border:  4px solid green;
    min-height: 16em;
}

.thot-book-border {
    border-radius: 0px;
}

.thot-edit {
    border: solid 1px black;
    background-color: #ffd;
}

.thot-edit * {
    margin: 0px;
    padding: 0px;
}

.thot-title {
    font-size:  24px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.thot-link {
    color: inherit;
}

.thot-link:hover {
    color: black;
}

.subthot a {
    color: blue;
    margin: 0px;
    padding: 0px;
    width: 80%;
}


/* ------------------------------------
                Cornbread
-------------------------------------- */

.cb {
    width: 30px;
    height: 30px;
    border: solid 1px black;
    display: inline-table;
    margin: 0px;
    /*border-sizing: border-box;*/
}

.cb-row {
    margin: 0px;
    border-style: none;
    display: inline-table;
    line-height: 20px;
}

.cb-label {
    margin: 0px;
    width: 200px;
    display: inline-table;
}


/* ------------------------------------
                Colors
--------------------------------------  */

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.b {
    background-color: blue;
}

.y {
    background-color: yellow;
}

.r{
    background-color: red;
}

.g {
    background-color: green;
}